
.form {
  margin: auto;
  width: 50vw;
  padding: 10px;
}

.option {
  display: flex;
  justify-content: center;
  text-align: center;
}

#Header {
  text-align: center;
}

#btnSend {
  margin-top: 1.5vw;
  margin-left: 1vw;
}
