body {
  background-color: azure;
}

.form {
  margin: auto;
  width: 50vw;
  /* border: 1px solid gainsboro; */
  padding: 10px;
}

#Header {
  text-align: center;
}

#btnSend {
  margin-top: 1.5vw;
  margin-left: 1vw;
}
